## Importando os dados para o pandas

In [4]:
import pandas as pd 

import pandas as pd

uri = "https://gist.githubusercontent.com/guilhermesilveira/1b7d5475863c15f484ac495bd70975cf/raw/16aff7a0aee67e7c100a2a48b676a2d2d142f646/projects.csv"
data = pd.read_csv(uri)
data.head()

   unfinished  expected_hours  price
0           1              26    192
1           1              88   9015
2           1              89   2577
3           1              42    275
4           1              39    170

## Dicionário para traduzir data frame

In [5]:

mapa = { 
    "unfinished" : "nao_finalizado",
    "expected_hours" : "horas_esperadas",
    "price" : "preco"
}
data.rename(columns = mapa)

      nao_finalizado  horas_esperadas  preco
0                  1               26    192
1                  1               88   9015
2                  1               89   2577
3                  1               42    275
4                  1               39    170
...              ...              ...    ...
2152               0               80   7518
2153               1               52   1332
2154               0               40    473
2155               0               75   5324
2156               1               37    377

[2157 rows x 3 columns]

In [7]:
troca = {
    0 : 1,
    1 : 0
}
data['finalizado'] = data.nao_finalizado.map(troca)
data.head()

AttributeError: 'DataFrame' object has no attribute 'nao_finalizado'